# Configuration de la base de données Aiven MySQL
DATABASE_HOST=your-database-host
DATABASE_PORT=15444
DATABASE_USER=your-database-user
DATABASE_PASSWORD=your-database-password
DATABASE_NAME=defaultdb
DATABASE_SSL=true

# Configuration de la sécurité pour l'authentification (JWT)
JWT_SECRET=your-jwt-secret-phrase

# Lien du déploiement backend (utilisé par le frontend)
VITE_API_URL=https://your-backend-api-url.com
